/* タグエリア */
.tag-area {
  margin: 20px;
}

.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.tag-cloud a {
  display: block;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 3px;
  margin: 5px;
  color: #333;
  text-decoration: none;
}

/* グループエリア */
.group-area {
  margin: 20px;
}

.group-list {
  display: flex;
  flex-wrap: wrap;
}

.group-item {
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.group-item img {
  max-width: 200px;
  max-height: 300px;
}

.group-item h3,
.group-item p {
  margin: 0;
  padding: 10px;
}

.group-item h3 {
  font-size: 18px;
}

.group-item p:last-child {
  font-size: 12px;
  color: #666;
}

.group-item a {
  display: block;
  text-decoration: none;
  color: #333;
}

/* Content.module.css */

.content {
  background-color: black;
}

.searchForm {
  margin: 20px;
  display: flex;
  gap: 10px;
}
.title {
  margin: 20px;
}

.input {
  display: block;
  width: 20vw;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  transition: box-shadow 0.3s ease-in-out;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}
.searchInput {
  background-color: inherit;
  color: white;
}
.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
